body{
  display: flex;
  background-color: black;
  gap: 50px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: white;
  margin: 200px;
}

form{
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 30px;
}

input{
  width: 500px;
  height: 50px;
  border-radius: 10px;
  font-size: 30px;
}

input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button{
  -webkit-appearance: none;
}

.phone-section{
  display: flex;
  gap: 10px;
}

#network-image{
  display: flex;
  width: 50px;
  height: 50px;
  align-self: center;
  border-radius: 50%;
}